@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<String>
@{
    ViewBag.Title = "Gift List";
}

<h1>Gift List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <th>ID</th>
        <th>Name</th>
    </thead>

    <tbody>
        @for(int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@i</td>
                <td>@Model[i]</td>
            </tr>
        }
    </tbody>

</table>
