@model List<Registration>
@{
    ViewBag.Title = "Registration List";
}

<h1>Registration List</h1>
<table class="table table-bordered table-striped">
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Number of Guests</th>
    <th>Gifts</th>
    </thead>
    <tbody>
        @foreach (Registration r in Model)
        {
            <tr>
                <td>@r.FirstName</td>
                <td>@r.LastName</td>
                <td>@r.NumberOfGuests</td>
                <td>@r.Gifts</td>
            </tr>
        }
    </tbody>

</table>